<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
    <style>
        body{
            background: url("https://clipart-db.ru/file_content/rastr/background_003.jpg") center no-repeat fixed;
            background-size: 100%;
        }
    </style>
</head>
<body>

    <h1 align="center">
        <a th:text = "${car.getBrand()} + '  ' + ${car.getName()}" style="color: burlywood"></a>
    </h1>

    <h2 align="center">
        <a th:text = "${car.getPrice()} + ' rub/day '" style="color: burlywood"></a>
        <br>
        <a th:text = " 'number of car is ' + ${car.getNumberOfCar()}" style="color: burlywood"></a>
        <br>
        <a><img th:src="${car.getPhoto()}" width="610" height="300" alt="Mit"></a>
        <br>
        <a th:href="@{/person/rent/{id}(id = ${car.getId()})}" style="color: crimson"> To rent </a>


    </h2>

    <h2>
        <a style="color: aliceblue">__________________History___________________</a>


        <table>
            <thead>
                <tr>
                    <th style="color: aliceblue"> FIO </th>
                    <th style="color: aliceblue"> Date of order </th>
                    <th style="color: aliceblue"> Rental days </th>
                </tr>
            </thead>
            <tbody>
            <tr th:each="purchase : ${purchases}">
                <td th:text="${purchase.getPerson().getFirstName()} + ' ' + ${purchase.getPerson().getLastName()}
                        + ' ' + ${purchase.getPerson().getMiddleName()}" style="color: aliceblue"></td>
                <td th:text="${purchase.getDateOfPurchase()}" style="color: aliceblue"></td>
                <td th:text="${purchase.getRentalDays()}" style="color: aliceblue"></td>
            </tr>
            </tbody>
        </table>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <a href="/car" style="color: aliceblue"><-- Back to main page...</a>
    </h2>

</body>
</html>