<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <style>
        body{
            background: url("https://clipart-db.ru/file_content/rastr/background_003.jpg")
            center no-repeat fixed;
            background-size: 100%;
        }
    </style>
</head>
<body>

    <h1 align="center">
        <a style="color: burlywood; font-size: xx-large" > Cars </a>
        <div th:each = "car : ${cars}">
            <a>--------------------------------------------------------------------------</a>
            <br>
            <a th:text = "${car.getBrand()} + '  ' + ${car.getName()}" style="color: burlywood"></a>

            <br>
            <a th:text="${car.getPrice()} + ' rub/day '" style="color: burlywood"></a>

            <br>
            <a th:href="@{/car/info/{id} (id=${car.getId()})}" style="color: darkorange"> information</a>

            <br>
            <a><img th:src="${car.getPhoto()}" width="310" height="140" alt="Mit"></a>

            <br>
            <a th:href="@{/person/rent/{id}(id = ${car.getId()})}" style="color: crimson"> To rent </a>

            <br>
        </div>


    </h1>


</body>
</html>