<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <style>
        body{
            background: url("https://lh3.googleusercontent.com/proxy/B1qSjJZxzNqfZVJ1jU3oVSdWJ811l3oVuQ72X18vapPkpDO1ZxRzbBe_xRJsbgcqFqQnlhe6TB3Oep76-Dn6S4gC74Wl-tN_AptAR_apd2vtFzd4DUsG8A") center no-repeat fixed;
            background-size: 100%;
        }
    </style>
</head>
<body>

    <h1 align="center">
        Cars
        <div th:each = "car : ${cars}">
            <a>--------------------------------------------------------------------------</a>
            <br>
            <a th:text = "${car.getBrand()} + '  ' + ${car.getName()} + ' | price = ' + ${car.getPrice()} + ' rub/day '"></a>

            <br>

            <a th:href="@{/car/info/{id} (id=${car.getId()})}"> information</a>

            <br>

            <a><img th:src="${car.getPhoto()}" width="310" height="140" alt="Mit"></a>

            <br>

            <a th:href="@{/person/rent/{id}(id = ${car.getId()})}"> To rent </a>

            <br>
        </div>


    </h1>


</body>
</html>