<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>

    <h1 align="center">
        Cars
        <div th:each = "car : ${cars}">
            <a>--------------------------------------------------------------------------</a>
            <br>
            <a th:text = "${car.getBrand()} + '  ' + ${car.getName()} + ' | price = ' + ${car.getPrice()} + ' rub/day '"></a>

            <br>

            <a th:href="@{/car/info/{id} (id=${car.getId()})}"> information</a>

            <br>

            <a><img th:src="${car.getPhoto()}" width="310" height="140" alt="Mit"></a>

            <br>

            <a href="/person/rent"> To rent </a>

            <br>
        </div>


    </h1>


</body>
</html>