<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <style>
        body{
            background: url("https://lh3.googleusercontent.com/proxy/B1qSjJZxzNqfZVJ1jU3oVSdWJ811l3oVuQ72X18vapPkpDO1ZxRzbBe_xRJsbgcqFqQnlhe6TB3Oep76-Dn6S4gC74Wl-tN_AptAR_apd2vtFzd4DUsG8A") center no-repeat fixed;
            background-size: 100%;
        }
    </style>
</head>
<body>

    <h1>
        Registration your purchase

    </h1>
    <h2>
        Full in the fields

        <form th:method="post" th:action="@{/person/registration/{carId}(carId=${carId})}" th:object="${person}" >

            <label for="firstName">First name</label>
            <input type="text" th:field="*{firstName}" id="firstName" placeholder="enter your first name">
            <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">firstName error</div>
            <br>
            <label for="lastName">Last name</label>
            <input type="text" th:field="*{lastName}" id="lastName" placeholder="enter your second name">
            <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">lastName error</div>
            <br>
            <label for="middleName">Middle name</label>
            <input type="text" th:field="*{middleName}" id="middleName" placeholder="enter your middle name">
            <div style="color:red" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}">middleName error</div>
            <br>
            <label for="number">Phone number</label>
            <input type="text" th:field="*{number}" id="number" placeholder="enter your phone number">
            <div style="color:red" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">number error</div>
            <br>
            <label for="rentalDays">number of rental days</label>
            <input type="number" min="1" name="rentalDays" id="rentalDays" placeholder="rental of days">
            <br>
            <input type="submit" value="Registration">
        </form>

        <br>
        <br>
        <a th:href="@{/car/info/{id}(id=${id})}"> <-- back to info </a>
    </h2>



</body>
</html>